.productBox {
  margin-bottom: 20px;
  cursor: pointer !important;
}

.productImage {
  height: 120px !important;
  width: 120px !important;
}
.productTitle {
  padding:0.5rem 1.3rem !important;
  p {
    font-weight: 600 !important;
    font-size: 0.95rem !important;
    color: #232323db !important;
    line-height: 1.5;
  }
}

.productBox:hover .productImage{
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: 4px 0px 9px #00000030;
}

.productCard:hover{
  box-shadow: 0 0 8px 0px #66636345;
}

.discount {
  font-size: 1rem;
  color: #757676;
  padding-left: 1rem;
}