* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(218, 216, 215, 0.393); */
    background-color: rgb(219 222 191 / 14%);
}

.navbar {
    background-color: #2874F0;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar button {
    color: white;
} 

.navbar button button {
    padding: 0;
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 700;
    bottom: 30%;
    background: #e84444 !important;
    width: 24px;
    height: 24px;
    line-height: 0;
} 